<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mercury.mallproject.fastdfs.repository.mapper.SysFileDetailMapper" >
  <resultMap id="BaseResultMap" type="com.mercury.mallproject.fastdfs.domain.SysFileDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="container_id" property="containerId" jdbcType="BIGINT" />
    <result column="file_category" property="fileCategory" jdbcType="VARCHAR" />
    <result column="logical_name" property="logicalName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="extention_name" property="extentionName" jdbcType="VARCHAR" />
    <result column="physical_name" property="physicalName" jdbcType="VARCHAR" />
    <result column="file_content" property="fileContent" jdbcType="VARCHAR" />
    <result column="doc_server_address" property="docServerAddress" jdbcType="VARCHAR" />
    <result column="server_group" property="serverGroup" jdbcType="VARCHAR" />
    <result column="server_root_dir" property="serverRootDir" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_ip" property="creatorIp" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, container_id, file_category, logical_name, description, extention_name, physical_name, 
    file_content, doc_server_address, server_group, server_root_dir, creator, creator_ip, 
    create_time, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mercury.mallproject.fastdfs.domain.SysFileDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_file_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_file_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_file_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mercury.mallproject.fastdfs.domain.SysFileDetailExample" >
    delete from sys_file_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mercury.mallproject.fastdfs.domain.SysFileDetail" >
    insert into sys_file_detail (id, container_id, file_category, 
      logical_name, description, extention_name, 
      physical_name, file_content, doc_server_address, 
      server_group, server_root_dir, creator, 
      creator_ip, create_time, del_flag
      )
    values (#{id,jdbcType=BIGINT}, #{containerId,jdbcType=BIGINT}, #{fileCategory,jdbcType=VARCHAR}, 
      #{logicalName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{extentionName,jdbcType=VARCHAR}, 
      #{physicalName,jdbcType=VARCHAR}, #{fileContent,jdbcType=VARCHAR}, #{docServerAddress,jdbcType=VARCHAR}, 
      #{serverGroup,jdbcType=VARCHAR}, #{serverRootDir,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{creatorIp,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mercury.mallproject.fastdfs.domain.SysFileDetail" >
    insert into sys_file_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="containerId != null" >
        container_id,
      </if>
      <if test="fileCategory != null" >
        file_category,
      </if>
      <if test="logicalName != null" >
        logical_name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="extentionName != null" >
        extention_name,
      </if>
      <if test="physicalName != null" >
        physical_name,
      </if>
      <if test="fileContent != null" >
        file_content,
      </if>
      <if test="docServerAddress != null" >
        doc_server_address,
      </if>
      <if test="serverGroup != null" >
        server_group,
      </if>
      <if test="serverRootDir != null" >
        server_root_dir,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creatorIp != null" >
        creator_ip,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="containerId != null" >
        #{containerId,jdbcType=BIGINT},
      </if>
      <if test="fileCategory != null" >
        #{fileCategory,jdbcType=VARCHAR},
      </if>
      <if test="logicalName != null" >
        #{logicalName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="extentionName != null" >
        #{extentionName,jdbcType=VARCHAR},
      </if>
      <if test="physicalName != null" >
        #{physicalName,jdbcType=VARCHAR},
      </if>
      <if test="fileContent != null" >
        #{fileContent,jdbcType=VARCHAR},
      </if>
      <if test="docServerAddress != null" >
        #{docServerAddress,jdbcType=VARCHAR},
      </if>
      <if test="serverGroup != null" >
        #{serverGroup,jdbcType=VARCHAR},
      </if>
      <if test="serverRootDir != null" >
        #{serverRootDir,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorIp != null" >
        #{creatorIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mercury.mallproject.fastdfs.domain.SysFileDetailExample" resultType="java.lang.Integer" >
    select count(*) from sys_file_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_file_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.containerId != null" >
        container_id = #{record.containerId,jdbcType=BIGINT},
      </if>
      <if test="record.fileCategory != null" >
        file_category = #{record.fileCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.logicalName != null" >
        logical_name = #{record.logicalName,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.extentionName != null" >
        extention_name = #{record.extentionName,jdbcType=VARCHAR},
      </if>
      <if test="record.physicalName != null" >
        physical_name = #{record.physicalName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileContent != null" >
        file_content = #{record.fileContent,jdbcType=VARCHAR},
      </if>
      <if test="record.docServerAddress != null" >
        doc_server_address = #{record.docServerAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.serverGroup != null" >
        server_group = #{record.serverGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.serverRootDir != null" >
        server_root_dir = #{record.serverRootDir,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorIp != null" >
        creator_ip = #{record.creatorIp,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_file_detail
    set id = #{record.id,jdbcType=BIGINT},
      container_id = #{record.containerId,jdbcType=BIGINT},
      file_category = #{record.fileCategory,jdbcType=VARCHAR},
      logical_name = #{record.logicalName,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      extention_name = #{record.extentionName,jdbcType=VARCHAR},
      physical_name = #{record.physicalName,jdbcType=VARCHAR},
      file_content = #{record.fileContent,jdbcType=VARCHAR},
      doc_server_address = #{record.docServerAddress,jdbcType=VARCHAR},
      server_group = #{record.serverGroup,jdbcType=VARCHAR},
      server_root_dir = #{record.serverRootDir,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      creator_ip = #{record.creatorIp,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mercury.mallproject.fastdfs.domain.SysFileDetail" >
    update sys_file_detail
    <set >
      <if test="containerId != null" >
        container_id = #{containerId,jdbcType=BIGINT},
      </if>
      <if test="fileCategory != null" >
        file_category = #{fileCategory,jdbcType=VARCHAR},
      </if>
      <if test="logicalName != null" >
        logical_name = #{logicalName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="extentionName != null" >
        extention_name = #{extentionName,jdbcType=VARCHAR},
      </if>
      <if test="physicalName != null" >
        physical_name = #{physicalName,jdbcType=VARCHAR},
      </if>
      <if test="fileContent != null" >
        file_content = #{fileContent,jdbcType=VARCHAR},
      </if>
      <if test="docServerAddress != null" >
        doc_server_address = #{docServerAddress,jdbcType=VARCHAR},
      </if>
      <if test="serverGroup != null" >
        server_group = #{serverGroup,jdbcType=VARCHAR},
      </if>
      <if test="serverRootDir != null" >
        server_root_dir = #{serverRootDir,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorIp != null" >
        creator_ip = #{creatorIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mercury.mallproject.fastdfs.domain.SysFileDetail" >
    update sys_file_detail
    set container_id = #{containerId,jdbcType=BIGINT},
      file_category = #{fileCategory,jdbcType=VARCHAR},
      logical_name = #{logicalName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      extention_name = #{extentionName,jdbcType=VARCHAR},
      physical_name = #{physicalName,jdbcType=VARCHAR},
      file_content = #{fileContent,jdbcType=VARCHAR},
      doc_server_address = #{docServerAddress,jdbcType=VARCHAR},
      server_group = #{serverGroup,jdbcType=VARCHAR},
      server_root_dir = #{serverRootDir,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_ip = #{creatorIp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>